
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="~/Canponent/js/bootstrap.min.js"></script>
    <script src="~/Canponent/js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="~/Canponent/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Canponent/css/bootstrap.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
                    $.ajax({
                        type: "POST",
                        url: "/Home/GetAllData",
                        success: function (data) {
                            var tab = " ";
                            for (var i = 0; i < data.length; i++) {
                                tab = tab + "<tr><td>" + (i + 1) + "</td><td>" + data[i].Name + "</td><td>" + data[i].Mobile + "</td><td>" + data[i].Email + "</td><td>" + data[i].DOB + "</td><td><span class='fa fa-trash  ssa' style='color:red ; font-size:22px;'></span></td><td><span class='fa fa-edit ssa' style='color:blue ; font-size:22px;'></span></td><td><a href='/Home/Index'><span class='fa fa-folder-open ssa' style='color:green ; font-size:22px;'></span></a>  </td></tr>"
                            }

                            tab = tab + "</table>";
                            $("#dd").html(tab);


                        }
                        ////error: function (data) {

                        ////    alert("Not Save Data")
                        ////}



                    });

                    // Click Event  of table 
                    $("#MyTable").on("click", ".ssa", function () {

                        // Get  Curent roe
                        var cRow = $(this).closest("tr");
                        var mm = cRow.find("td:eq(0)").text();

                        // Delete
                        cRow.find("td:eq(5)").click(function () {
                           
                            $.getJSON("/Home/DeleteData", {id:mm}, function (data) {
                                alert(data);
                            })
                            

                        });

                        // Update
                        var mn = cRow.find("td:eq(0)").text();
                        cRow.find("td:eq(6)").click(function () {
                            $.getJSON("/Home/GetSingalData", { id: mn }, function (data) {
                                $("#Name").val(data[0].Name);
                                $("#Mobile").val(data[0].Mobile);
                                $("#Email").val(data[0].Email);
                                $("#DOB").val(data[0].DOB);
                                $("#idtext").val(data[0].id);

                                  $("#btnM").trigger("click");
                            })

                        });

                        $("#btnMS").click(function () {
                            var id = $("#idtext").val();
                            var name = $("#Name").val();
                            var mobile = $("#Mobile").val();
                            var email = $("#Email").val();
                            var dob = $("#DOB").val();
                            
                            $.getJSON("/Home/upData", { id: id, name: name, mobile: mobile, email: email, dob: dob }, function (data) {
                                alert(data);
                                window.location.href ="/Home/Display";

                            })

                        })
                    })

                })

    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <table class='table table-responsive' id="MyTable">
                    <thead>
                        <tr><td>Sr.number</td><td>Name</td><td>Mobile</td><td>Email</td><td>DOB</td><td>Delete</td><td>Update</td><td>Add</td></tr>
                    </thead>
                    <tbody id="dd">
                    </tbody>
                </table>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="btnM" style="display:none">
                    Launch demo modal
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  >
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"> Update Table</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" id="idtext" />

                                <label for="Name">Choose a Name:</label>

                                <select name="Name" id="Name">
                                    <option class="form-control" value="saab">Saab</option>
                                    <option class="form-control" value="mercedes">Mercedes</option>
                                    <option class="form-control" value="audi">Audi</option>
                                    <option class="form-control" value="volvo">Volvo</option>
                                </select>
                                <br />

                                @*<input type="text" class="form-control" id="Name" />*@
                                Mobile Number
                                <input type="text" class="form-control" id="Mobile" />
                                Email
                                <input type="text" class="form-control" id="Email" />
                                Date of Birth
                                <input type="date" class="form-control" id="DOB" />
                                <div class="col-sm-4"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="btnMS">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
            

        </div>

    </div>
</body>
</html>
